.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 30px;
}

.nav-logo a {
  font-size: 20px;
  font-weight: bold;
  color: #ff4d30;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  transition: 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
  color: #ff4d30;
}
